In [1]:
import json

from pathlib import Path

In [2]:
path = Path("data") / "transactions.json"

In [94]:
with open(path, "r") as fp:
    data_raw = fp.readlines()

In [11]:
data = []

In [95]:
data = [json.loads(line) for line in data_raw]

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(data)

In [96]:
json_struct = json.loads(df.to_json(orient="records"))
df_flat = pd.json_normalize(json_struct)
df_flat

,transaction_id,timestamp,user_id,merchant_id,amount,channel,currency,device,payment_method,is_international,...,has_fraud_history,age,sex,education,primary_source_of_income,sum_of_monthly_installments,sum_of_monthly_expenses,country_y,signup_date,risk_score
0,TX000000,2022-06-17T23:28:00,U14804,M0314,130.03,in-store,EUR,Android,debit_card,1,...,1,23,Female,Bachelor,Savings,336.26,93.70,Sweden,2022-08-10,0.426675
1,TX000001,2022-01-04T15:39:00,U16634,M0675,132.00,online,EUR,Android,debit_card,1,...,0,53,Female,PhD,Business,513.43,2047.83,France,2024-05-22,0.729627
2,TX000002,2022-09-09T21:58:00,U18005,M0479,8.65,online,EUR,Android,credit_card,1,...,0,58,Female,Bachelor,Business,388.36,89.83,Italy,2021-05-18,0.393848
3,TX000003,2023-11-20T06:40:00,U13690,M0538,19.82,mobile,EUR,iOS,credit_card,0,...,0,59,Male,Master,Employment,79.46,159.47,Portugal,2021-09-05,0.393405
4,TX000004,2022-04-28T08:08:00,U04642,M0128,101.92,in-store,EUR,Android,credit_card,1,...,0,28,Female,PhD,Unemployment,444.06,4268.46,Austria,2023-06-01,0.524168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,TX499995,2022-04-19T18:12:00,U00062,M0079,11.53,in-store,EUR,iOS,bank_transfer,1,...,1,50,Male,Bachelor,Employment,65.16,1538.11,Poland,2021-09-08,0.514065
499996,TX499996,2023-06-02T06:59:00,U17320,M0760,78.01,mobile,EUR,iOS,bank_transfer,1,...,0,35,Female,High School,Employment,131.01,424.92,Poland,2022-10-28,0.508625
499997,TX499997,2022-08-06T13:14:00,U07750,M0215,77.65,in-store,EUR,iOS,bank_transfer,1,...,1,37,Female,Bachelor,Savings,393.12,244.94,Czech Republic,2023-10-26,0.592257
499998,TX499998,2023-03-20T22:00:00,U14492,M0848,221.38,online,EUR,iOS,mobile_payment,1,...,1,22,Male,High School,Student Aid,484.67,439.71,Ireland,2024-12-02,0.419711
499999,TX499999,2023-01-29T14:46:00,U11248,M0075,103.17,in-store,EUR,iOS,bank_transfer,1,...,0,36,Female,No Education,Business,85.19,1750.10,Germany,2021-02-19,0.409943

In [97]:
df = df_flat

In [9]:
df_merchants = pd.read_csv("data\\merchants.csv")

In [10]:
df_users = pd.read_csv("data\\users.csv")

In [32]:
df_merchants

,merchant_id,category,country,trust_score,number_of_alerts_last_6_months,avg_transaction_amount,account_age_months,has_fraud_history
0,M0001,travel,Austria,1.000000,3,97.23,84,0
1,M0002,clothing,Poland,0.689695,2,142.71,93,1
2,M0003,electronics,Czech Republic,0.834610,5,67.83,65,0
3,M0004,electronics,Belgium,0.607229,1,16.77,9,1
4,M0005,grocery,Ireland,0.641901,2,38.56,100,0
...,...,...,...,...,...,...,...,...
995,M0996,travel,France,0.412610,3,162.98,111,0
996,M0997,clothing,Ireland,0.616576,5,0.56,34,0
997,M0998,education,Finland,0.673047,2,65.66,45,0
998,M0999,electronics,Portugal,0.738578,1,24.23,56,1
999,M1000,education,Netherlands,0.879709,5,16.61,15,1

In [37]:
df_merchants["merchant_id"]

0      M0001
1      M0002
2      M0003
3      M0004
4      M0005
       ...
995    M0996
996    M0997
997    M0998
998    M0999
999    M1000
Name: merchant_id, Length: 1000, dtype: object

In [103]:
df["merchant_id"] = df["merchant_id"].astype(str)
df_merchants["merchant_id"] = df_merchants["merchant_id"].astype(str)

df = pd.merge(df, df_merchants, on="merchant_id")
df = pd.merge(df, df_users, on="user_id")
# df = df.join(df_users, on="user_id")

MergeError: Passing 'suffixes' which cause duplicate columns {'country_x'} is not allowed.

In [104]:
df

,transaction_id,timestamp,user_id,merchant_id,amount,channel,currency,device,payment_method,is_international,...,country_y,signup_date,risk_score,category_y,country,trust_score_y,number_of_alerts_last_6_months_y,avg_transaction_amount_y,account_age_months_y,has_fraud_history_y
0,TX000000,2022-06-17T23:28:00,U14804,M0314,130.03,in-store,EUR,Android,debit_card,1,...,Sweden,2022-08-10,0.426675,travel,France,0.581711,3,74.97,23,1
1,TX000001,2022-01-04T15:39:00,U16634,M0675,132.00,online,EUR,Android,debit_card,1,...,France,2024-05-22,0.729627,electronics,Germany,0.568933,2,56.92,23,0
2,TX000002,2022-09-09T21:58:00,U18005,M0479,8.65,online,EUR,Android,credit_card,1,...,Italy,2021-05-18,0.393848,gaming,Denmark,0.608070,5,98.93,75,0
3,TX000003,2023-11-20T06:40:00,U13690,M0538,19.82,mobile,EUR,iOS,credit_card,0,...,Portugal,2021-09-05,0.393405,electronics,Portugal,0.592656,4,21.60,82,0
4,TX000004,2022-04-28T08:08:00,U04642,M0128,101.92,in-store,EUR,Android,credit_card,1,...,Austria,2023-06-01,0.524168,gaming,Spain,0.450223,4,60.61,82,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,TX499995,2022-04-19T18:12:00,U00062,M0079,11.53,in-store,EUR,iOS,bank_transfer,1,...,Poland,2021-09-08,0.514065,travel,Sweden,0.295231,0,1.26,12,1
499996,TX499996,2023-06-02T06:59:00,U17320,M0760,78.01,mobile,EUR,iOS,bank_transfer,1,...,Poland,2022-10-28,0.508625,restaurants,Italy,0.700921,1,40.48,33,0
499997,TX499997,2022-08-06T13:14:00,U07750,M0215,77.65,in-store,EUR,iOS,bank_transfer,1,...,Czech Republic,2023-10-26,0.592257,education,Spain,0.797026,4,15.81,111,1
499998,TX499998,2023-03-20T22:00:00,U14492,M0848,221.38,online,EUR,iOS,mobile_payment,1,...,Ireland,2024-12-02,0.419711,electronics,Netherlands,1.000000,7,38.62,7,1
499999,TX499999,2023-01-29T14:46:00,U11248,M0075,103.17,in-store,EUR,iOS,bank_transfer,1,...,Germany,2021-02-19,0.409943,restaurants,Finland,1.000000,3,41.86,65,0

In [44]:
df["is_fraud"].value_counts()

is_fraud
0    457589
1     42411
Name: count, dtype: int64

In [48]:
df.isna().sum()

transaction_id                        0
timestamp                             0
user_id                               0
merchant_id                           0
amount                                0
channel                               0
currency                              0
device                                0
payment_method                        0
is_international                      0
session_length_seconds                0
is_first_time_merchant                0
is_fraud                              0
location.lat                          0
location.long                         0
category                              0
country_x                             0
trust_score                           0
number_of_alerts_last_6_months        0
avg_transaction_amount                0
account_age_months                    0
has_fraud_history                     0
age                                   0
sex                                   0
education                         96566
primary_source_of_income              0
sum_of_monthly_installments           0
sum_of_monthly_expenses               0
country_y                             0
signup_date                           0
risk_score                            0
dtype: int64

In [105]:
df["education"] = df["education"].fillna("No Education")  # nan -> wykształcenie niższe niż średnie

In [13]:
df["education"].value_counts()

education
PhD             103760
Master          100526
Bachelor        100325
High School      98823
No Education     96566
Name: count, dtype: int64

In [106]:
df_cleaned = df.drop(columns=["transaction_id"])

In [107]:
df_cleaned = df_cleaned.drop(columns=["currency"])

In [289]:
df_cleaned = df_cleaned.sort_values(by=["user_id", "timestamp"])

df_cleaned['temp_cumulative_fraud'] = df_cleaned.groupby('user_id')['is_fraud'].cumsum()

shifted_cumulative_fraud = df_cleaned.groupby('user_id')['temp_cumulative_fraud'].shift(1)

df_cleaned['user_has_fraud_history'] = shifted_cumulative_fraud.fillna(0).gt(0).astype(int)

df_cleaned = df_cleaned.drop(columns=['temp_cumulative_fraud'])

df_cleaned = df_cleaned.sort_values(by=["merchant_id", "timestamp"])

df_cleaned['temp_cumulative_fraud'] = df_cleaned.groupby('merchant_id')['is_fraud'].cumsum()

shifted_cumulative_fraud = df_cleaned.groupby('merchant_id')['temp_cumulative_fraud'].shift(1)

df_cleaned['merchant_has_fraud_history'] = shifted_cumulative_fraud.fillna(0).gt(0).astype(int)

df_cleaned = df_cleaned.drop(columns=['temp_cumulative_fraud'])

# df_cleaned = df_cleaned.sort_values(by=["user_id", "timestamp"])
# df_cleaned["users_transaction_count"] = df_cleaned.groupby("user_id").count().cumsum()

# df_cleaned["user_has_fraud_history"] = (
#     df_cleaned.groupby("user_id")["is_fraud"]
#     .apply(lambda x: x.shift().fillna(0).cumsum() > 0)
#     .reset_index(level=0, drop=True)
# )

# df_cleaned["merchant_has_fraud_history"] = (
#     df_cleaned.groupby("merchant_id")["is_fraud"]
#     .apply(lambda x: x.shift().fillna(0).cumsum() > 0)
#     .reset_index(level=0, drop=True)
# )

In [218]:
df_cleaned["dummy"] = np.ones(len(df_cleaned))
df_cleaned = df_cleaned.sort_values(by=["user_id", "timestamp"])
df_cleaned["users_transaction_count"] = df_cleaned.groupby("user_id")["dummy"].cumsum().astype(int)
df_cleaned = df_cleaned.drop(columns=["dummy"])

In [288]:
df_cleaned[df_cleaned["user_id"] == "U15280"][["is_fraud", "timestamp", "user_has_fraud_history"]].sort_values(by="timestamp")

        is_fraud           timestamp  user_has_fraud_history
315155         0 2022-02-04 10:39:00                       0
299640         0 2022-02-06 14:51:00                       0
99191          0 2022-03-31 20:32:00                       0
193027         0 2022-04-14 08:20:00                       0
210955         0 2022-06-09 05:05:00                       0
304027         0 2022-08-31 07:18:00                       0
190068         0 2022-10-05 21:18:00                       0
410256         1 2022-12-06 13:07:00                       0
162783         0 2023-01-29 14:09:00                       1
194260         0 2023-02-25 04:50:00                       1
379663         0 2023-03-07 07:02:00                       1
408091         0 2023-03-10 05:13:00                       1
404320         1 2023-05-05 07:56:00                       1
348499         0 2023-06-10 21:20:00                       1
360150         0 2023-06-25 16:33:00                       1
407532         0 2023-07-07 09:25:00                       1
490495         1 2023-08-20 23:04:00                       1
1339           0 2023-09-26 06:58:00                       1
463687         0 2023-11-15 02:18:00                       1
448453         0 2023-12-05 13:04:00                       1
56333          0 2023-12-22 17:27:00                       1
251723         1 2023-12-24 14:10:00                       1
357225         0 2023-12-25 11:41:00                       1
238654         0 2023-12-30 12:45:00                       1

In [262]:
df_cleaned = df_cleaned.sort_values(by=["user_id", "timestamp"])

# Create a temporary column for the previous device
df_cleaned['previous_device'] = df_cleaned.groupby('user_id')['device'].shift(1)

# Create the 'device_changed' feature: 1 if device changed from previous, 0 otherwise
df_cleaned['device_changed'] = 0
df_cleaned.loc[
    (df_cleaned['device'] != df_cleaned['previous_device']) & (df_cleaned['previous_device'].notna()),
    'device_changed'
] = 1
df_cleaned.drop(columns=["previous_device"], inplace=True)

290822    0
197951    1
187979    0
137034    1
401318    1
         ..
263172    0
360206    1
358294    1
251399    1
368254    1
Name: device_changed, Length: 500000, dtype: int64

In [25]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [300]:
from sklearn.linear_model import LogisticRegression

In [301]:
clf = LogisticRegression()
# clf = tree.DecisionTreeClassifier()

In [291]:
X = df_cleaned.drop(columns=["is_fraud"])

In [292]:
y = df_cleaned["is_fraud"]

In [293]:
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()

In [294]:
X = pd.DataFrame(enc.fit_transform(X), columns=X.columns)

In [295]:
rus = RandomUnderSampler(random_state=42)

X_res, y_res = rus.fit_resample(X, y)

X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, stratify=y_res, test_size=0.3)

In [302]:
clf.fit(X_train, y_train)

C:\Users\alwoj\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
from sklearn.metrics import f1_score, confusion_matrix

In [303]:
pred = clf.predict(X_test)

In [304]:
f1_score(y_test, pred)

0.5172386015788626

In [305]:
confusion_matrix(y_test, pred)

array([[7040, 5683],
       [6303, 6421]])

In [35]:
from imblearn.under_sampling import RandomUnderSampler

In [234]:
from sklearn.ensemble import GradientBoostingClassifier

In [299]:
pd.DataFrame([clf.feature_importances_, clf.feature_names_in_]).transpose().sort_values(ascending=False, by=0)

           0                                 1
18  0.192741               has_fraud_history_x
27  0.141748                        risk_score
14  0.105581                     trust_score_x
34  0.099563               has_fraud_history_y
30  0.074965                     trust_score_y
7   0.045905                  is_international
1   0.039283                           user_id
10  0.035251                      location.lat
11  0.025204                     location.long
8   0.023993            session_length_seconds
3   0.022465                            amount
26  0.019639                       signup_date
23  0.019119       sum_of_monthly_installments
24  0.017746           sum_of_monthly_expenses
19  0.014254                               age
0   0.014195                         timestamp
50   0.01283                    region_cluster
37  0.012581                           ts_hour
17  0.011606              account_age_months_x
49  0.009472           users_transaction_count
33  0.008064              account_age_months_y
32  0.006666          avg_transaction_amount_y
25  0.006187                         country_y
38  0.005153                    ts_day_of_week
39  0.004848                   ts_day_of_month
2    0.00437                       merchant_id
16  0.003842          avg_transaction_amount_x
22  0.002571          primary_source_of_income
28  0.002443                        category_y
12  0.002441                        category_x
6   0.002422                    payment_method
31  0.001896  number_of_alerts_last_6_months_y
29  0.001756                           country
15  0.001674  number_of_alerts_last_6_months_x
5   0.001661                            device
40  0.001526                          ts_month
48  0.000917            ts_user_tx_count_today
44  0.000906              ts_is_high_risk_time
9   0.000795            is_first_time_merchant
35  0.000757            user_has_fraud_history
20  0.000557                               sex
21  0.000394                         education
4   0.000013                           channel
13       0.0                         country_x
47       0.0              ts_is_typical_payday
51       0.0            region_cluster_db_scan
36       0.0        merchant_has_fraud_history
46       0.0                ts_is_end_of_month
45       0.0          ts_is_beginning_of_month
43       0.0              ts_is_after_midnight
42       0.0              ts_is_business_hours
41       0.0                     ts_is_weekend
52       0.0                    device_changed

# TODO

- xgboost
- EDA
- outliery
- amount - biny
- shapley / rfe
- zebranie do jednego notebooka
- upsampling
- prezentacja
- feature engineering
- hyperparameter tuning (optuna)
- mlflow

In [275]:
df_cleaned.columns

Index(['timestamp', 'user_id', 'merchant_id', 'amount', 'channel', 'device',
       'payment_method', 'is_international', 'session_length_seconds',
       'is_first_time_merchant', 'is_fraud', 'location.lat', 'location.long',
       'category_x', 'country_x', 'trust_score_x',
       'number_of_alerts_last_6_months_x', 'avg_transaction_amount_x',
       'account_age_months_x', 'has_fraud_history_x', 'age', 'sex',
       'education', 'primary_source_of_income', 'sum_of_monthly_installments',
       'sum_of_monthly_expenses', 'country_y', 'signup_date', 'risk_score',
       'category_y', 'country', 'trust_score_y',
       'number_of_alerts_last_6_months_y', 'avg_transaction_amount_y',
       'account_age_months_y', 'has_fraud_history_y', 'user_has_fraud_history',
       'merchant_has_fraud_history', 'ts_hour', 'ts_day_of_week',
       'ts_day_of_month', 'ts_month', 'ts_is_weekend', 'ts_is_business_hours',
       'ts_is_after_midnight', 'ts_is_high_risk_time',
       'ts_is_beginning_of_month', 'ts_is_end_of_month',
       'ts_is_typical_payday', 'ts_user_tx_count_today',
       'users_transaction_count', 'region_cluster', 'region_cluster_db_scan',
       'device_changed'],
      dtype='object')

In [311]:
df_merchants.columns

Index(['merchant_id', 'category', 'country', 'trust_score',
       'number_of_alerts_last_6_months', 'avg_transaction_amount',
       'account_age_months', 'has_fraud_history'],
      dtype='object')